.login-container {
    width:100%;
    height: 100vh;
    background:red;//linear-gradient(135deg,#ffe645 0%,#e2aa02,100%);
    position: relative;

    .logo {
        font-size: 50px;
        font-weight: bold;
        font-family:'creepster',cursive;
        letter-spacing: 10px;
        position: absolute;
        top: 50px;
        right:50px;
    }
    .desc {
        font-size: 24px;
        font-family: 'aladin',cursive;
        letter-spacing: 5px;
        position:absolute;
        top: 150px;
        right: 10px;
       
        text-align: right;
        width:800px;

    }
    .film{
        position: absolute;
        top:50px;
        left:50px;
        width: 500px;
        height: 400px;
    }
    .login-form
    {
        width:350px;
        height:250px;
        padding:20px;
        background-color: #fff;
        border-radius: 10px;
        position:absolute;
        bottom: 20px;
        right: 50px;
        box-shadow: 5px 5px 20px #383838;
    }

    .form-group{
        margin-top: 10px;

    }

    label{
        font-weight: bold;
    }
    .btn-container{
        .btn{
            margin-top: 30px;
            margin-left: 10px;
        }
       
        .error{
            position:absolute;
            top:200px;
            right:10px;
            color: red;
        }
    }
}
